@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


:root {
    
font-family: 'League Spartan', sans-serif;
    
/* Theme 1 */

--t1main-background: hsl(222, 26%, 31%);
--t1keypad-background: hsl(223, 31%, 20%);
--t1screen-background: hsl(224, 36%, 15%);

--t1-key-background: hsl(225, 21%, 49%);
--t1key-shadow: hsl(224, 28%, 35%);

--red-key: hsl(6, 63%, 50%);
--red-key-shadow: hsl(6, 70%, 34%);

--light-grayish-orange: hsl(30, 25%, 89%);
--grayish-orange: hsl(28, 16%, 65%);

}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: .5em;
}

body {
    background-color: var(--t1main-background);
}

#calculator {
    background-color: red;
    height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.display {
    background-color: var(--t1screen-background);
    color: #fff;
    height: 5em;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: .8em;
    background-color: var(--t1keypad-background);
    padding: 1.5em;
    height: 25em;

}


.keys {
    background-color: var(--light-grayish-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: .5em;
    text-transform: uppercase;
    border-radius: .2em;
}

[value="reset"] {
    grid-column: 1 / 3;
}

[value="equal"] {
    grid-column: 3 / 5;
}

[value="del"],
[value="reset"] {
    color: #fff;
    background-color: var(--t1-key-background);
    font-size: 1.2em;
}